<div id="form" style="width:350px;">
  <fieldset>
    <legend style="color:blue;font-weight:bold;">General Information</legend>
    <table>
      <tr>
        <td><span style="text-decoration:underline">C</span>hange Password To:</td>
        <td><input type="text"/></td>
      </tr>
      <tr>
        <td><span style="text-decoration:underline">C</span>onfirm Password:</td>
        <td><input type="text"/></td>
      </tr>
    </table>
  </fieldset>
</div>