.user-action-menu {
    width: 50%;
}

.user-action-menu .btn {
    white-space: nowrap;
    margin-left: 10px;
}

.login-form .form-control {
    width: 40%;
    margin: 0 10px;
}

.video-item {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.video-item .item {
    height: 225px;
}

.item.info {
    border: 1px solid rgba(0, 0, 0, 0.175);
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    overflow: hidden;
}

.video-title span {
    color: red;
}

.react svg {
    cursor: pointer;
}